<%- include ('../partials/header.ejs') %>
<%- include ('../partials/body.ejs') %>
<h1>Welcome <%= username %></h1>
<h4>Add a new trip:</h4>

<form id="new-trip-form" action="/trips/new" method="post">
  <label for="destination">Destination </label>
  <input id="destination" type="text" name="destination" required class="form-control input_user" placeholder="Location"></br>
  <label for="start-date">Start Date:&nbsp;</label>
  <input id="start-date" type="date" name="startDate" class="form-control" required></br>
  <label for="end-date">End Date:&nbsp;&nbsp;</label>
  <input id="end-date" type="date" name="endDate" class="form-control" required> <br>
  <label for="email-input"> Companions: </label> <br>
  <i id=explanation>Add an email here to invite your first companion. You can always invite more companions later.</i></br>
  <input id="companion-email" type="email" name="companionEmails" class="form-control" placeholder="Enter email"></br>
  <input id="add-trip-button" type="submit" value="Add Trip">
</form>

<%- include ('../partials/footer.ejs') %>
